* {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.header, .footer{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c8d7dc+0,e3eaed+63,f2f5f6+100 */
	background: #c8d7dc; /* Old browsers */
	background: -moz-linear-gradient(top, #c8d7dc 0%, #e3eaed 63%, #f2f5f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #c8d7dc 0%,#e3eaed 63%,#f2f5f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #c8d7dc 0%,#e3eaed 63%,#f2f5f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8d7dc', endColorstr='#f2f5f6',GradientType=0 ); /* IE6-9 */
	margin:0px 0px 0px 0px;
	font-style: normal;
	font-variant: normal;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}
.header{
	padding:0px 0px 0px 0px;
	font-size: 31px;
	color: #0E2D5F;
}
.footer{
	padding:8px;
	font-size: 11px;
}

.principal, .Menu{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,ffffff+100 */
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e5e5e5 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.navbar{
	position:relative;
	min-height:50px;
	margin-bottom:20px;
	border:1px solid transparent
}

.navbar-brand{float:left;height:auto;padding:15px 15px;font-size:18px;line-height:20px}
.navbar-brand:focus,
.navbar-brand:hover{text-decoration:none}
/*.navbar-brand>img{display:block}@media (min-width:768px){
	.navbar>.container 
.navbar-brand,
.navbar>.container-fluid 
.navbar-brand{margin-left:-15px}}*/
/*
.navbar-default 
.navbar-brand{color:#777}
.navbar-default 
.navbar-brand:focus,
.navbar-default 
.navbar-brand:hover{color:#5e5e5e;background-color:transparent}

.navbar-inverse 
.navbar-brand{color:#9d9d9d}
.navbar-inverse 
.navbar-brand:focus,
.navbar-inverse 
.navbar-brand:hover{color:#fff;background-color:transparent}
*/

.navbar-nav{margin:7.5px -15px}
.navbar-nav>li>a{padding-top:10px;padding-bottom:10px;line-height:20px}@media (max-width:767px){
	.navbar-nav .open .dropdown-menu{position:static;float:none;width:auto;margin-top:0;background-color:transparent;border:0;-webkit-box-shadow:none;box-shadow:none}
.navbar-nav .open .dropdown-menu .dropdown-header,
.navbar-nav .open .dropdown-menu>li>a{padding:5px 15px 5px 25px}
.navbar-nav .open .dropdown-menu>li>a{line-height:20px}
.navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-nav .open .dropdown-menu>li>a:hover{background-image:none}}@media (min-width:768px){
	.navbar-nav{float:left;margin:0}
.navbar-nav>li{float:left}
.navbar-nav>li>a{padding-top:15px;padding-bottom:15px}}
.navbar-right .dropdown-menu-left{right:auto;left:0}}
.navbar-right{float:right!important;margin-right:-15px}
.navbar-right~
.navbar-right{margin-right:0}}
.nav{padding-left:0;margin-bottom:0;list-style:none}
.nav>li{position:relative;display:block}
.nav>li>a{position:relative;display:block;padding:10px 15px}
.nav>li>a:focus,
.nav>li>a:hover{text-decoration:none;background-color:#eee}
.nav>li.disabled>a{color:#777}
.nav>li.disabled>a:focus,
.nav>li.disabled>a:hover{color:#777;text-decoration:none;cursor:not-allowed;background-color:transparent}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover{background-color:#eee;border-color:#337ab7}
.nav .nav-divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}
.nav>li>a>img{max-width:none}