* {
  margin: 0;
  padding: 0;
  font-family: Helvetica,sans-serif;
  font-size-adjust: 0.58;
  /*text-size-adjust: 0.58;*/
  -moz-font-size-adjust: 0.58;
  -webkit-font-size-adjust: 0.58;
  -ms-font-size-adjust: 0.58;
}
body {
  background: url("../imagenes/fondo1.png") repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  min-height: 100vh;
}
#logo {
    height: 96%;
    width: 96%;
  }
form {
  margin: auto;
  width: 50%;
  max-width: 350px;
  background: #f5f5f5;
  padding:30px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  
}
input {
  display: block;
  padding: 6px 12px;
  width: 92%;
  margin: 20px 0;
  font-size: 14px;
  border-radius: 4px;
}
input[type="submit"] {
  width: 100%;
  border:1px solid #4b8f29;
  opacity: 0.9;
  cursor: pointer;
  margin-bottom: 0;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  border-radius: 4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb85c), color-stop(1, #113015));
  background:-moz-linear-gradient(top, #5cb85c 5%, #113015 100%);
  background:-webkit-linear-gradient(top, #5cb85c 5%, #113015 100%);
  background:-o-linear-gradient(top, #5cb85c 5%, #113015 100%);
  background:-ms-linear-gradient(top, #5cb85c 5%, #113015 100%);
  background:linear-gradient(to bottom, #5cb85c 5%, #113015 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb85c', endColorstr='#113015',GradientType=0);
}
input[type="submit"]:hover {
  opacity: 1;
}
input[type="submit"]:active {
  transform: scale(0.95);
}
@media (max-width: 784px){
  form {
    width: 75%;
  }
  #logo {
    height: 60%;
    width: 60%;
  }
}
@media (max-width: 480px){
  form {
    width: 60%;
    #logo {
    height: 70%;
    width: 70%;
  }
  }
}
/*#menu {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  height: 100px;
  width: 100px;
}*/